<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression suite1" thread-count="1" parallel="tests"  verbose="2">

   <test name="Program Test on FF">
     <parameter name="browser" value="ch"/>
<parameter name="url" value="https://www.monsterindia.com/"/>
    <classes>
     
          <class name="com.automationpratice.pageclasses.homepage.home.Testing"/>   
          
        
    </classes>
    
  </test> 
  
   <test name="Program Test on IE">
  <parameter name="browser" value="ie"/>
<parameter name="url" value="https://www.monsterindia.com/"/>

    <classes>
     
          <class name="com.automationpratice.pageclasses.homepage.home.Testing"/>   
          
        
    </classes>
    
  </test> 

  
   </suite> 


   